
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ErrorCode</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.css">

	<link rel="shortcut icon" href="favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,700" rel="stylesheet">
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=desert"></script>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="css/flexslider.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body ng-app="myTestApp" ng-controller="testController" ng-cloak>
	
	
	<div id="fh5co-page">
	<header id="fh5co-header" role="banner">
		<div class="container">
			<div class="header-inner">
				<h1><a href="index.html">ErrorCode</a></h1>
				<nav role="navigation">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="projects.html">Projects</a></li>
						<li class="cta"><a href="profile.html">Profile</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>

    <!-- Main Content -->
	<div id="main-content-section">
		<div class="container">
            
            <div class="row no-code-section" ng-hide="code">
                <h1 class="no-code-title animate-box">Start a Project</h1>
                <p class="animate-box">It seems that you don't have any code loaded for testing. Click below to begin!</p>
                
                <p id="uploadButton" class="animate-box" ng-hide="files.length > 0"><a ng-click="uploadFile()" class="btn btn-primary btn-outline with-arrow dark-button">Upload Code <i class="icon-arrow-right"></i></a>
                    
                <div ng-show="files.length > 0">
                    <!--md-card class="name-entry">
                        <input type="text" ng-bind="title" placeholder="Project name" id="nameInput"/>
                    </md-card-->
                    <p class=""><a ng-click="submitCode()" class="btn btn-primary btn-outline with-arrow dark-button">Start Testing <i class="icon-arrow-right"></i></a>
                </div>
                
                <input ng-hide="true" type="file" ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" />
                    
                </p>
                <br />
                <div class="languages animate-box">
                    <h3 class="white">Start a project in any of the following languages:</h3>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 img-container">
                                <img class="lang-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1024px-Python-logo-notext.svg.png" />
                            </div>
                            <div class="col-md-3 img-container">
                                <img class="lang-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Swift_logo.svg/2000px-Swift_logo.svg.png" />
                            </div>
                            <div class="col-md-3 img-container">
                                <img class="lang-image" src="http://3.bp.blogspot.com/-PTty3CfTGnA/TpZOEjTQ_WI/AAAAAAAAAeo/KeKt_D5X2xo/s1600/js.jpg" />
                            </div>
                            <div class="col-md-3 img-container">
                                <img class="lang-image" style="padding: 0px;" src="http://espeo.eu/wp-content/uploads/2016/07/logo-groovy.png" />
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
            
			<div class="row" ng-show="code">
				<!--div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
					<h2>Our pleasure to serve you</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
				</div-->
                
                <h1 class="project-title animate-box text-center">My Simple Python Project</h1>
                <h4 class="project-author animate-box text-center"><em>Written by {{author}}</em></h4>
                
                <div class="col-md-7 text-center item-block animate-box codespec-cont">
                    
                    <h2 class="codespec-title">Code and Specs</h2>
                    
                    <!--?prettify linenums=true?-->
                    <pre class="prettyprint code lang-py" ng-bind="code"></pre>
                    
				</div>
                <div class="col-md-5 text-center item-block animate-box testcase-cont">
					<h2 class="testcase-title">Test Cases</h2>
                    
                    <div ng-hide="testCases.length > 0">
                        There are no test cases currently submitted for this code base. Begin by adding one below!
                    </div>
                    
                    <div ng-show="testCases.length > 0">
                        
                        <div class="panel panel-default testcase-submission" ng-repeat="case in testCases">
                            <div class="panel-heading"><i ng-click="toggleStar($index)" class="icon-star" ng-class="{yellow: case.starred, gray: !case.starred}"></i>{{case.name}}<div class="pull-right"><p class="votes">{{case.votes}}</p><i class="icon-happy vote-icon" ng-click="incrementVote($index)"></i> <i class="icon-sad vote-icon" ng-click="decrementVote($index)"></i></div></div>
                            <!--?prettify linenums=true?-->
                            <div class="panel-body">
                                <pre class="prettyprint code test-code" ng-bind="case.content"></pre>
                            </div>
                            <p class="case-user">{{case.user}}</p>
                        </div>
                        
                    </div>
                    <br />
					<p><a ng-click="openTestDialog()" class="btn btn-primary btn-outline with-arrow dark-button">Add Test Case <i class="icon-arrow-right"></i></a></p>
				</div>
                
                <h2 class="codespec-title">Discussion</h2>
            <div class="row disqus-thread">
                <br />
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div id="disqus_thread"></div>
                    <script>
                    /**
                    * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                    * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                    */
                    /*
                    var disqus_config = function () {
                    this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };
                    */
                    (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = '//avontell.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                    })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                </div>
            </div>
                
			</div>
            
		</div>
	</div>
	
	<footer id="fh5co-footer" role="contentinfo">
	
		<div class="container">
			<div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>About Us</h3>
				<p>We are dedicated to testing the limits of code.</p>
				<p><a href="#" class="btn btn-primary btn-outline with-arrow btn-sm">Join Us <i class="icon-arrow-right"></i></a></p>
			</div>
			<div class="col-md-4 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>Our Developers</h3>
				<ul class="float">
					<li><a href="#">Aaron Vontell</a></li>
					<li><a href="#">Jared Simonelli</a></li>
					<li><a href="#">Cooper Pellaton</a></li>
					<li><a href="#">Michael Feffer</a></li>
				</ul>

			</div>

			<div class="col-md-4 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>Contact Us</h3>
				<ul class="fh5co-social">
					<li>- vontell@mit.edu</li>
					<li>- jas1421@rit.edu</li>
					<li>- pellaton@gatech.edu</li>
					<li>- mfeffer@mit.edu</li>
				</ul>
			</div>
			
			
			<div class="col-md-12 fh5co-copyright text-center">
				<p>&copy; 2016 ErrorCode. All Rights Reserved. <span>Designed and Developed at HACKMIT</span></p>	
			</div>
			
		</div>
	</footer>
	</div>
	
	
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
        
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script src="js/angularstuff.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.js"></script>
    
    <script src="https://www.gstatic.com/firebasejs/3.4.0/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyCBXy9kpuP2BZc7zIKaj53opFLtMpYG2tU",
        authDomain: "errorcode-c57a3.firebaseapp.com",
        databaseURL: "https://errorcode-c57a3.firebaseio.com",
        storageBucket: "errorcode-c57a3.appspot.com",
        messagingSenderId: "890888182551"
      };
      firebase.initializeApp(config);
    </script>
	
	<!-- MAIN JS -->
	<script src="js/main.js"></script>

	</body>
</html>

