<md-dialog aria-label="Add Test Case" style="width: 500px;">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 class="dialog-title">Add Test Case</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
          
        <md-input-container class="md-block">
            <label>Name / Short Description</label>
            <input ng-model="projectname">
        </md-input-container>
          
        <p id="uploadButton2" class="" ng-hide="files.length > 0"><a ng-click="uploadFile2()" class="btn btn-primary btn-outline with-arrow">Upload Code <i class="icon-arrow-right"></i></a>
                    
        <p class="" ng-show="files.length > 0"><a ng-click="submitCode2()" class="btn btn-primary btn-outline with-arrow">Start Testing <i class="icon-arrow-right"></i></a>
                
        <input ng-hide="true" type="file" ng-model-instant id="fileToUpload2" multiple onchange="angular.element(this).scope().setFiles2(this)" />
            
        <p class="testing-stuff" ng-show="testing">Testing against project...</p>
        <p class="testing-stuff test-good-result" ng-show="success">The test cases passed! Yay!</p>
        <p class="testing-stuff test-bad-result" ng-show="failure">Your test cases caused the program to fail!</p>
          
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="close()">
       Cancel
      </md-button>
      <md-button ng-click="submit()">
        Submit
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>